<section class="bg-white">
  <h1>Newsletter</h1>
  <form id="newsletter">
    <input
      id="newsletter-input"
      type="email"
      placeholder="Newsletter"
      class="newsletter-input"
      name="email"
      autofocus
    />
    <button class="newsletter-btn">Submit</button>
  </form>
</section>